@import 'base/variables'
@import 'base/mixins'

rupture.mobile-cutoff = $mobile-cutoff
rupture.desktop-cutoff = $desktop-cutoff

@import 'base/normalize'
@import 'base/fonts'
@import 'base/core'

@import "../blocks/header/*"
@import "../blocks/footer/*"
@import "../blocks/nav/*"
@import "../blocks/section/*"
@import "../blocks/project/*"
@import "../blocks/social/*"
@import "../blocks/timeline/*"
