html, body
	min-height 100vh	

body
	position relative
	
	padding-top 45px
	padding-bottom $baseline*3
	
	overflow-y scroll
	
	font-size $font-size
	line-height $line-height
	font-family $font-family


h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote
	margin 0
	padding 0
 

a
	position relative
	
	text-decoration none
	
	link($links-color, $links-hover-color)
	transition all .2s ease
	
	&:hover
		transition none

.nobr
	white-space nowrap
