$desktop-cutoff = 1024px
$mobile-cutoff = 640px

$site-width = 1024px

$font-family = 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif

$font-size = 14px
$line-height = 1.4
$baseline = $font-size * $line-height

$links-color = #0089d8
$links-hover-color = #bc3636
