mixin nav()
	.nav&attributes(attributes)
		ul.nav__list
			li.nav__item
				a.nav__link(href=jv0) Обо мне
			li.nav__item
				a.nav__link(href=jv0) Проекты
			li.nav__item
				a.nav__link(href=jv0) Заметки