.nav
	margin 30px 0 45px
	container()
	background #EDF8FF
	

	&__list
		position relative
		left -.75rem
		display inline-block
		padding .25rem .75rem .45rem
		
		border-radius 4px
		list-style none
	

	&__item
		display inline-block
		
		&:not(:first-child)
			margin-left 1.5rem