include ../blocks/header/header
include ../blocks/nav/nav
include ../blocks/timeline/timeline
include ../blocks/footer/footer

doctype html
html(lang='ru')
	block head
		- var pageTitle = 'Главная'
	include ../blocks/head/head
	body
		+header()
		+nav()
		+timeline()
		+footer()
		
		script(src='assets/scripts/build.js')
