mixin timeline()
	.timeline&attributes(attributes)
		.timeline__title Что нового?

		.timeline__list
			.timeline__item
				.timeline__date 25 января 2016
				p.timeline__descrption Начал редизайн этого сайта

			.timeline__item
				.timeline__date 23–24 января 2016
				p.timeline__descrption Посетил лекцию Людвига Быстроновского #[span.nobr «Интерес и&nbsp;важность»] (конспекты по&nbsp;#[a(href='http://andrew-r.ru/notes/?go=all/interest-and-importance/') первой] и&nbsp;#[a(href='http://andrew-r.ru/notes/?go=all/interest-and-importance-2/') второй] части)