mixin social()
	.social&attributes(attributes)
		a.social__item(href=jv0) ВКонтакте
		a.social__item(href=jv0) Гитхаб
		span.social__break
		a.social__item.social__item--muted(href=jv0) +7 999 453-82-01
		a.social__item.social__item--muted(href=jv0) me@andrew-r.ru